openapi: 3.2.0
info:
  title: Bluetriangletechnologies Event Markers API
  version: '2026-09-29'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-29: 6 operation(s) read from 8 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Bluetriangletechnologies has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 6
    documentation: 0
    pages-with-code: 8
    pages-read: 8
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-29'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://help.bluetriangle.com/help-center/resource-endpoint.md
  - https://help.bluetriangle.com/help-center/performance-endpoint.md
  - https://help.bluetriangle.com/help-center/event-markers-endpoint.md
  - https://help.bluetriangle.com/help-center/content-security-policy-csp-endpoint.md
  - https://help.bluetriangle.com/help-center/api.md
  - https://help.bluetriangle.com/help-center/the-blue-triangle-api-overview.md
  - https://help.bluetriangle.com/help-center/why-does-the-api-respond-with-400-method-not-allowed.md
  - https://help.bluetriangle.com/help-center/why-is-my-curl-request-to-the-api-not-working-on-windows.md
servers:
- url: https://api.bluetriangletech.com
security:
- apiKey: []
tags:
- name: Event Markers
paths:
  /event-markers:
    get:
      operationId: get_event_markers
      tags:
      - Event Markers
      summary: GET /event-markers
      x-source: https://help.bluetriangle.com/help-center/event-markers-endpoint.md
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl -X GET "https://api.bluetriangletech.com/event-markers?id=22" -H "X-API-Email: email@company.com"  -H "X-API-Key: 2831ac6dffec75a48fe712345e000481"  -H "Content-Type: application/json"'
    put:
      operationId: put_event_markers
      tags:
      - Event Markers
      summary: PUT /event-markers
      x-source: https://help.bluetriangle.com/help-center/event-markers-endpoint.md
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X PUT \"https://api.bluetriangletech.com/event-markers\" -H \"X-API-Email: email@company.com\"  -H \"X-API-Key: 2831ac6dffec75a48fe712345e000481\"  -H \"Content-Type: application/json\"\n    --data '{  \"id\": 22,\n     \"prefix\": \"testsite\",\n     \"eventStart\": \"1536552000\",\n     \"eventType\": \"site\",\n     \"eventName\": \"Testing API\",\n     \"annotation\": \"API Testing\",\n     \"lineColor\": \"yellow\",\n     \"line"
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
