openapi: 3.2.0
info:
  title: Bluetriangletechnologies Content Security Policies API
  version: '2026-09-29'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-29: 6 operation(s) read from 8 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Bluetriangletechnologies has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 6
    documentation: 0
    pages-with-code: 8
    pages-read: 8
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-29'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://help.bluetriangle.com/help-center/resource-endpoint.md
  - https://help.bluetriangle.com/help-center/performance-endpoint.md
  - https://help.bluetriangle.com/help-center/event-markers-endpoint.md
  - https://help.bluetriangle.com/help-center/content-security-policy-csp-endpoint.md
  - https://help.bluetriangle.com/help-center/api.md
  - https://help.bluetriangle.com/help-center/the-blue-triangle-api-overview.md
  - https://help.bluetriangle.com/help-center/why-does-the-api-respond-with-400-method-not-allowed.md
  - https://help.bluetriangle.com/help-center/why-is-my-curl-request-to-the-api-not-working-on-windows.md
servers:
- url: https://api.bluetriangletech.com
security:
- apiKey: []
tags:
- name: Content Security Policies
paths:
  /content-security-policies:
    get:
      operationId: get_content_security_policies
      tags:
      - Content Security Policies
      summary: GET /content-security-policies
      x-source: https://help.bluetriangle.com/help-center/content-security-policy-csp-endpoint.md
      parameters:
      - name: prefix
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContentSecurityPoliciesResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl -X GET "https://api.bluetriangletech.com/content-security-policies?prefix=demo"  -H "X-API-Email: email@company.com"  -H "X-API-Key: 2831ac6dffec75a48fe712345e000481"  -H "Content-Type: application/json"  ## View CSP by ID'
    post:
      operationId: post_content_security_policies
      tags:
      - Content Security Policies
      summary: POST /content-security-policies
      x-source: https://help.bluetriangle.com/help-center/why-does-the-api-respond-with-400-method-not-allowed.md
      parameters:
      - name: prefix
        in: query
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl -X POST  ''https://api.bluetriangletech.com/content-security-policies?prefix=demosports''  -H ''X-API-Email:artificial_user@bluetriangle.com''  -H ''X-API-Key: 4598b7a1dd50023bedd44c83c792d051'''
components:
  schemas:
    GetContentSecurityPoliciesResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        version:
          type: string
        metaTag:
          type:
          - string
          - 'null'
        responseHeader:
          type:
          - string
          - 'null'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
